<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/sweetalert.css" rel="stylesheet">
    <link href="../../static/css/app.css" rel="stylesheet">
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 border-bottom box-shadow nav-header">
        <h3 class="my-0 mr-md-auto font-weight-normal">Chain Book Admin</h3>
        <ul class="nav justify-content-end" style="margin-right: 5rem">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{.login_username}}
                    <img class="circle-img" src="../../static/images/avatar.jpg">
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/users/changepwd">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;" onclick="login_out()">Login Out</a>
                </div>
            </li>
        </ul>
      </div>
        <div class="container-fluid full-height">
            <div class="row full-height" >
                <div class="col-md-2 col-sm-3 list-group nav-box">
                    <nav class="nav flex-column">
                        <a class="nav-link nav-item-left" href="/admin"><i data-feather="home"></i>&nbsp;&nbsp;Home</a>
                        <a class="nav-link nav-item-left" href="/admin/apps"><i data-feather="package"></i>&nbsp;&nbsp;App</a>
                        <a class="nav-link nav-item-left" href="/admin/myapps"><i data-feather="package"></i>&nbsp;&nbsp;My App</a>
                        <a class="nav-link nav-item-left" href="/admin/users"><i data-feather="users"></i>&nbsp;&nbsp;Users</a>
                        <a class="nav-link nav-item-left" href="#"><i data-feather="anchor"></i>&nbsp;&nbsp;Api</a>
                    </nav>
                </div>
                <main role="main" class="col-md-10 col-sm-9 pt-3 px-4">
                    {{.LayoutContent}}
                </main>
            </div>
        </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    

    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/sweetalert.min.js"></script>
    <script src="../../static/js/app.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
